<!-- include header -->
<%- include('include/_header') %>
  <!-- /include header -->

  <div class="fiche" id="consultation">

    <div class="b">
      <br>
      <div class="m" style="margin-top: -1%;">
        <a href="/index-dossier" style="text-decoration-line: none;">
          <font class="voir" style="font-size:20px;">
            <i class="fas fa-angle-left prev" style="margin-left:-2%"></i>Voir tous les dossiers
          </font>
          <br>
        </a>
      </div>
      <font style="color:#1A17A5; size:5">
        <i class="fa-regular fa-file fa-lg" style="margin-left:30%;margin-top:3%"></i>
        <b>Consultation de Mebarakou Amina</b>
      </font>


    </div>
    <br>
    <br>

    <div class="consultation" style="margin-top:-3%">
      <table id="table">

        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Motif de consultation</th>
            <th>Note</th>
            <th> Supprimer</th>

          </tr>
        </thead>
        <tbody>
        <tbody>
          <% var i=0 %>
            <% cons.forEach(function (item) { %>
              <tr>
                <td>
                  <%= i+1%>
                </td>
                <td>
                  <%= item.date %>
                </td>
                <td>
                  <%= item.motif %>
                </td>
                <td>
                  <%= item.note %>
                </td>
                <td>
                  <a class="btn border-shadow delete" style="color:red" data-id=<%=item._id%>>
                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                  </a>

                </td>
              </tr>
              <% i=i+1 %>
                <% }) %>

        </tbody>
        </tbody>
      </table>
    </div>

  </div>
  </div>
  <!-- include footer -->
  <%- include('include/_footer') %>
    <!-- /include footer -->